.header {
    background-color: $color-main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
    justify-content: space-between;
    height: 150px;
    @media (max-width: 600px) {
        height: 100px;
        grid-template-rows: 100px;
    }
    &__logo {
        padding: 3%;
        & img {
            width: 220px;
            @media (max-width: 600px) {
                width: 180px;
            }
        }
    }
    &__cart {
        font-size: 130%;
        padding: 5%;
        justify-self: right;
        align-self: center;
        transition: color 250ms;
        &:hover {
            color: $color-secondary;
        }
    }
}