button {
    cursor: pointer;
    &:focus {
        outline: 2px solid $color-line;
    }
}

.btn-add {
    font-size: 120%;
    width: 40%;
    height: 60px;
    border: none;
    background-color: $color-tertiary;
    border-radius: 10px;
    box-shadow: $shadow;
    transition: box-shadow 300ms;
    &:hover {
        box-shadow: $shadow-hover;
    }
}

.btn-add--added {
    background-color: $color-main-darker;
}