* {
    box-sizing: border-box;
    color: $color-font;
    font-family: 'roboto', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1500px;
}

a {
    text-decoration: none;
    color: inherit;
    border-radius: inherit;
    &:focus {
        outline: 2px solid $color-line;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

h1, h2 {
    text-align: center;
}

input, textarea, select {
    border: 1px solid $color-main;
    &:focus {
        outline: 2px solid $color-line;
    }
}