#emptyCart {
    font-size: 150%;
    text-align: center;
    height: 200px;
    margin-top: 100px;
}

#listInCart {
    max-width: 1000px;
    margin: auto;
    @media (max-width: 1000px) {
        width: 90%;
    }
}

.cart {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 200px;
    width: 100%;
    gap: 3%;
    border-bottom: 1px solid $color-main-darker;
    padding: 2%;
    align-items: center;
    @media (max-width: 600px) {
        height: 100px;
        padding: 1.5%;
    }
    &__name {
        font-size: 120%;
        @media (max-width: 600px) {
            font-size: 100%;
            margin: 0;
            padding: 0;
        }
    }
    &__price {
        text-align: right;
        font-size: 120%;
        @media (max-width: 600px) {
            font-size: 100%;
            margin: 0;
            padding: 0;
        }
    }
    &__delete {
        font-size: 180%;
        max-width: 60px;
        max-height: 60px;
        justify-self: end;
        border: none;
        color: $color-font;
        background-color: $color-main;
        transition: color 250ms;
        &:hover {
            color: $color-secondary;
        }
        &:focus {
            outline: 3px solid $color-line;
        }
    }
}

#total-price {
    text-align: right;
    font-size: 130%;
    width: 1000px;
    margin: auto;
    padding: 1%;
    margin-top: 2%;
    display: none;
    @media (max-width: 1000px) {
        width: 90%;
        font-size: 110%;
    }
}

.form {
    width: 580px;
    margin: auto;
    margin-bottom: 2%;
    @media (max-width: 600px) {
        width: 90%;
    }
    &__container {
        display: flex;
        margin-bottom: 0;
        position: relative;
        right: -88px;
        @media (max-width: 600px) {
            flex-direction: column;
            position: static;
        }
    }
    &__label {
        width: 80px;
    }
    &__input {
        display: block;
        height: 30px;
        margin-bottom: 20px;
        &--address {
            margin-bottom: 20px;
        }
    }
}

.alert-displayed {
    display: block;
    color: $color-alert;
    padding-left: 10px;
    margin: 0;
    @media (max-width: 600px) {
        text-align: right;
    }
}

.alert-hidden {
    display: none;
}

.error-input {
    border: 1px solid $color-alert;
    @media (max-width: 600px) {
        margin-bottom: 2px;
    }
    &:focus {
        outline: 2px solid $color-alert;
    }
}

textarea {
    resize: none;
}

#btn-buy {
    font-size: 110%;
    height: 40px;
    width: 80px;
    border: none;
    background-color: $color-tertiary;
    border-radius: 10px;
    box-shadow: $shadow;
    transition: box-shadow 300ms;
    &:hover {
        box-shadow: $shadow-hover;
    }
}

.btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}