.product {
    box-shadow: 2px 2px 10px 2px $color-main;
    border-radius: 5%;
    transition: box-shadow 300ms;
    &__img {
        border-radius: inherit;
    }
    &__name {
        text-align: center;
    }
    &__price {
        text-align: right;
        padding-right: 10px;
    }
    &:hover {
        box-shadow: 3px 3px 10px 2px $color-main-darker;
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-auto-rows: min-content;
    gap: 3%;
    justify-content: center;
    margin-bottom: 100px;
}
