#main--product {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        ". image name ."
        ". image description ."
        ". image price ."
        ". image options . "
        ". button button .";
    column-gap: 2%;
    row-gap: 3%;
    align-items: center;
    margin-bottom: 10%;
    @media (max-width: 1200px) {
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "image name"
            "image description"
            "image price"
            "image options"
            "button button";
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "image name"
            "image description"
            "image price"
            "image options"
            "button button";
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "image image"
            "name name" 
            "description description"
            "price options"
            "button button";
        padding-left: 20px;
        padding-right: 20px;
        row-gap: 0;
    }
}

#backlink {
    text-align: left;
    display: block;
    padding: 1%;
    font-size: 120%;
    transition: color 250ms;
    &:hover {
        color: $color-secondary;
    }
}

#image {
    grid-area: image;
    @media (max-width: 600px) {
        height: 200px;
    }
}

#title {
    grid-area: name;
}

#description {
    grid-area: description;
    font-size: 110%;
    @media (max-width: 600px) {
        font-size: 100%;
    }
}

#price {
    grid-area: price;
    font-size: 120%;
    @media (max-width: 600px) {
        font-size: 100%;
    }
}

#options {
    grid-area: options;
    font-size: 110%;
    @media (max-width: 600px) {
        font-size: 100%;
    }
}

#btn-add {
    grid-area: button;
    justify-self: center;
    @media (max-width: 600px) {
        width: 80%;
    }
}

.product {
    &:focus {
        outline: 2px solid $color-line; 
    }
}

#option {
    margin-left: 10px;
    @media (max-width: 600px) {
        margin: 0;
    }
}