$color-main: #F3E9F1;
$color-main-darker: #DCC6DA;
$color-secondary: #7739FE;
$color-tertiary:#F9CB90;
$color-font: #261624;
$color-alert: #B30000;
$color-line: #985D98;

$shadow: 2px 2px 10px 2px $color-main;
$shadow-hover: 3px 3px 10px 2px $color-main-darker;